<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title><%= title %></title>
</head>
<body>
    <section>
        <nav>
            <div>
                <img src="/images/wilder.png" class="logo-img" alt="logo">
            </div>
            <div>
                <a href="/">HOME</a>
                <a href="/about">ABOUT</a>
                <a href="/services">SERVICE</a>
                <a href="/contact">CONTACT</a>
                <% if (autanticated) { %>
                    <img src="/svg/login.svg" class="login-svg" alt="login">
                <% } %>
            </div>
        </nav>
        <div class="about-container">
           <div>
            <h2>About us</h2>
            <p>lWe are a company specialized in building websites, committed to crafting innovative solutions that address our clients' needs. With a dedicated team of problem solvers, we excel at what we do, delivering high-quality websites tailored to meet each client's unique requirements.</p>
           </div>
           <div>
               <img src="/images/team.jpg" alt="team">
           </div>
           <div>
               <img src="/images/team2.jpg" alt="team">
            </div>
           <div>
            <h2>Our team</h2>
            <p>Our relentless pursuit of excellence drives us to continuously improve and innovate. We are always seeking partnerships with like-minded individuals and organizations to collaborate, grow, and evolve together. At our core, we are passionate about leveraging technology to create impactful digital experiences that drive success for our clients."</p>
           </div>
        </div>
       </section>
</body>
</html>