<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my website</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/658c23aba3.js" crossorigin="anonymous"></script>
</head>
<body>
   <section>
    <nav>
        <div>
            <img src="/images/wilder.png" class="logo-img" alt="logo">
        </div>
        <div>
            <a href="/">HOME</a>
            <a href="/">ABOUT</a>
            <a href="/">SERVICE</a>
            <a href="/">CONTACT</a>
            <img src="/svg/login.svg" class="login-svg" alt="login">
        </div>
    </nav>
    <div class="container">
        <div class="presentation-div">
            <div class="text-div">
            <h1 class="welcom">WELCOM</h1>
            <h1 class="wilder">We are WILDER</h1>
            <p>we solve problems with a creative way,</p>
            <p>no matter the problem is we are here.</p>
            <button class="btn">Let's Talk</button>
            </div>
        </div>
        <div class="image-div">
            <img src="/images/desk.jpg" alt="desk picture">
        </div>
    </div>
   </section>
</body>
</html>