<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my website</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/658c23aba3.js" crossorigin="anonymous"></script>
</head>
<body>
   <section>
    <nav>
        <div>
            <img src="/images/wilder.png" class="logo-img" alt="logo">
        </div>
        <div>
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/services">SERVICE</a>
            <a href="/contact">CONTACT</a>
            <% if (autanticated) { %>
                <img src="/svg/login.svg" class="login-svg" alt="login">
            <% } %>
        </div>
    </nav>
    <div class="container">
       services
    </div>
   </section>
</body>
</html>