<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my website</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/658c23aba3.js" crossorigin="anonymous"></script>
</head>
<body>
   <section>
    <nav>
        <div>
            <img src="/images/wilder.png" class="logo-img" alt="logo">
        </div>
        <div>
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/services">SERVICE</a>
            <a href="/contact">CONTACT</a>
            <% if (autanticated) { %>
                <img src="/svg/login.svg" class="login-svg" alt="login">
            <% } %>
        </div>
    </nav>
    <div class="service-container">
       <h2>Our services</h2>
       <div class="services-div">
        <div class="label-div">
            <div class="icon-div"><i class="fa-solid fa-plus"></i></div>
            <div class="content-div">Designing complete websites</div>
        </div>
        <div class="label-div">
            <div class="icon-div"><i class="fa-solid fa-plus"></i></div>
            <div class="content-div">Optimizing websites for better performance.</div>
        </div>
        <div class="label-div">
            <div class="icon-div"><i class="fa-solid fa-plus"></i></div>
            <div class="content-div">Frontend and UI/UX Design Integration</div>
        </div>
        <div class="label-div">
            <div class="icon-div"><i class="fa-solid fa-plus"></i></div>
            <div class="content-div">Utilizing Cutting-Edge Backend Technologies</div>
        </div>
        <div class="label-div">
            <div class="icon-div"><i class="fa-solid fa-plus"></i></div>
            <div class="content-div">Leveraging Top Server-Side Technologies Globally</div>
        </div>
        <div class="label-div">
            <div class="icon-div"><i class="fa-solid fa-plus"></i></div>
            <div class="content-div">SEO : Optimizing Websites for Search Engines</div>
        </div>
       </div>
       <div class="mail-div">
        <h2>Send your email</h2>
            <div class="input-div">
                <input type="text" placeholder="your message">
                <button>Send email</button>
            </div>
       </div>
    </div>
   </section>
</body>
</html>